$clr-primary: #1a1a40;
$clr-primary-dark: #060930;
$clr-secondary: #f4abc4;
$clr-text: #eaeaea;
$clr-icon: #4d4d4e;

$ff-primary: 'Helvetica Neue';
$ff-secondary: 'La Belle Aurore';
$ff-tertiary: 'Coolvetica';
